.TopMenu{
    position: absolute;
    left: 4.38%;
    right: 4.38%;
    top: 5.22%;
    height: auto;
}
.TopMenuTable{
    width: 100%;
}
.TopMenuTableIcon{
    width: 3%;
}
.TopMenuTableIcon:hover{
    cursor: pointer;
}
.TopMenuTableSearch{
    width: 88%;  
}
.TopMenuIcon{
    width: 20px;
}
.TopMenuSearchDark{
    width: 100%;
    border-radius: 20px;
    border-width: 0px;
    background-color:transparent;
    color: #fff;
}
.TopMenuSearchDark:focus{
    outline: none;
    color: #fff;
}
.TopMenuSearchLight{
    width: 100%;
    border-radius: 20px;
    border-width: 0px;
    background-color:transparent;
    color: #000;
}
.TopMenuSearchLight:focus{
    outline: none;
    color: #000;
}

.FeaturedVideos{
    position: absolute;
    left: 4.38%;
    right: 33.74%;
    top: 14.77%;
    bottom: 3.39%;
}
.FeaturedVideosTable{
    position: absolute;
    width: 100%;
    top: 0%;
    bottom: 90%;
    left: 0%;
    right: 0%;
    
}
.FeaturedVideosTableHeading{
    width: 80%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.375px;
   
}
.HideScrollBar{
    
    overflow: auto;
}

  
.FeaturedVideosTableMore{
    font-weight: bold;
    width: 20%;
    text-align: right;
}
.FeaturedVideosTableMore:hover{
    cursor: pointer;
}
.VideoList{
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;
    top: 10%;
    overflow: scroll;
    display: grid;
    
    
    
}

.GridView{
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0px;
    width: 310px;
    max-height: 30vh;
    padding-top: 3px;
   
    
}
.video-item{
    height: 100vh;
    overflow: auto;
}
.video-item::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
.GridView:hover{
    cursor: pointer;
}
.GridViewTable{
    width: 100%;
}
.VideoIcon{
    width: 10px;
}
.FeaturedVideoName{
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.3px;
}
.FeaturedVideoArtist{
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.3px;
    color: #596675;
}
.PopularArtists{
    position: absolute;
    left: 70.20%;
    right: 4.38%;
    top: 14.77%;
    bottom: 1.01%;
}
.PopularArtists1{
    padding-top: 18px;
    position: absolute;
    top: 0%;
    bottom: 80%;
    left: 0%;
    right: 0%;
}
.PopularArtists2{
    position: absolute;
    top: 12%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow-x: hidden;
    overflow-y: auto;
}
.PopularArtists2::-webkit-scrollbar {
    display: none;
}
.PopularArtistsTable1{
    width: 100%;
    height: auto;
}
.PopularArtistsTable1_1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.375px;
}
.PopularArtistsTable1_2{
    width: 40%;
    height: 35px;
    text-align: right;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.3px;
    color: #596675;
    
}
.PopularArtistsTable1_2:hover{
    cursor: pointer;
}
.PopularArtistsTable2{
    width: 100%;
    border-spacing: 0px 10px;
    
}
.PopularArtistsTable2_1{
    width: 20%;
    text-align: center;
}
.PopularArtistsTable2_3{
    text-align: center;
    font-weight: bold;
    min-width: 10px;
    width: 5%;
}
.PopularArtistsTable2_3:hover{
    cursor: pointer;
    min-width: 10px;
    width: 5%;
}
.PopularArtistsTable2_2{
    width: 60%;
    height: 45px;
    text-align: left;
    font-family: Poppins;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.PopularArtistsTable2_1_Icon{
    width: 57px;
    height: 57px;
    border-radius: 50%;
}
.PopularArtistsTable2_2_1{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: -0.2625px;
    padding-left: 15px;
}
.PopularArtistsTable2_2_2{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.257143px;
    color: #596675;
    padding-left: 15px;
}
.ContentGridViewImage{
    width: 100%;
    height: auto;
    border-radius: 7px;
    max-width: 400px;
    background-size: cover;
}